<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">MiBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <div class="nav-item">
    <a type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#createPostModal">
    Crear post
    </a>
</div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">Acerca de</a>
        </li>
        {% if current_user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            {{ current_user[1] }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="{{ url_for('profile', user_id=current_user[0]) }}">Perfil</a></li>
            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
